<h1>ICC content style guide</h1>	

	<ul>
			<li><a href="#overview">Overview</a></li>
			<li><a href="content-checklist.html">Content checklist</a></li>
			<li><a href="content-templates.html">Content types</a></li>
			<ul>
			<li><a href="content-templates.html#landing">Landing section template and examples</a></li>
			<li><a href="content-templates.html#article">Article template and examples</a></li>
			<li><a href="content-templates.html#biography">Biography template and examples</a></li>
		</ul>
		<li><a href="#checklist">Style guide</a></li>
		
	</ul>